/* #first_name,#last_name,#email,#contact_number,#employee_id,#password,#confirm_password,#submit_button,#gender{
    position: relative;
    left: 450px;
    top: 100px;
}

#asterik{
    position: absolute;
    top: 234px;
    left: 630px;
    width: 30px;
} */

@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');