<table>
  <thead>
    <th>Key</th>
    <th>Value</th>
  </thead>
  <tr>
    <td>FirstName</td>
    <td>{{data.first_name}}</td>
  </tr>
  <tr>
    <td>LastName</td>
    <td>{{data.last_name}}</td>
  </tr>
  <tr>
    <td>Email</td>
    <td>{{data.email}}</td>
  </tr>
  <tr>
    <td>ContNo.</td>
    <td>{{data.contact_number}}</td>
  </tr>
  <tr>
    <td>Gender</td>
    <td>{{data.gender}}</td>
  </tr>
  <tr>
    <td>EmpId</td>
    <td>{{data.employee_id}}</td>
  </tr>
  <tr>
    <td>Password</td>
    <td>{{data.password}}</td>
  </tr>
</table>

<button type="button" (click)= "onclick()">Back & edit</button>

<button type="button">Reset</button>